/*Universal Tags*/

@font-face {
  font-family: Bison;
  src: url(Bison-Bold.ttf);
}

@font-face {
  font-family: BeaufortforLOL;
  src: url(BeauforfortLOL.woff.ttf);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 25px;
  height: 25px;
}

body,
html {
  height: 100%;
  margin: 0;
}

/*Navbar*/

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}

.navbar__logo {
  position: relative;
  left: -43.5%;
  padding: 13px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  border: 1px solid gray;
  background-color: gray;
  padding: 2px 5px;
  margin: 5px 10px;
  text-align: center;
  font-size: 25px;
  font-family: bison;
}

#home {
  background: black;
}

.title {
  position: relative;
}

.bg-title {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 64%;
}

.title-bg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title-title {
  position: absolute;
  font-family: BeaufortforLOL;
  font-size: 90px;
  font-style: italic;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.bio-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bio-title {
  color: black;
  font-size: 23pt;
}

.bio-description {
  color: black;
}
